@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,500;1,600;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", Sans-Serif;
	box-sizing: border-box;
	border: 1px solid red;
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4em;
	background-color: #14213d;
}

.logo,
.translate {
	color: azure;
	padding: 0.1em;
	margin: 1em;
	letter-spacing: 1px;
}

/* body stylings */

.flex {
	/* width: 100vw; */
	height: 88vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.first {
	display: flex;
	width: 100%;
    height: 40%;
}

.info {
    display : flex;
    height : 100%;
    width : 50%;
    flex-direction : column;
    justify-content : center;
}
