@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,500;1,600;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", Sans-Serif;
	/* box-sizing: border-box;
	border: 1px solid red; */
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4em;
	background-color: #14213d;
}

.logo,
.translate {
	color: azure;
	padding: 0.1em;
	margin: 4em;
	letter-spacing: 1px;
}

.translate {
	margin-right: 5.8em;
}

/* Multiple languages using translate */
#google_translate_element img,
.goog-te-banner {
	display: none;
}

select.goog-te-combo {
	height: 25px;
	border-radius: 30px;
}

.goog-logo-link {
	height: 1px;
}

/* body stylings */

.flex {
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Sans-Serif;
}

.first {
	display: flex;
	width: 100%;
	height: 40%;
	justify-content: space-around;
}

.info {
	display: flex;
	height: 100%;
	width: 50%;
	/* flex-direction: column; */
	justify-content: space-around;
	/* align-items: center; */
	padding: 4.5em;
}

.business,
.customers {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sub-title {
	font-size: 1.75em;
	padding: 0.25em 0;
}

.second {
	display: flex;
	width: 100%;
	height: 60%;
	justify-content: center;
}

.image1,
.image2,
.image3 {
	width: auto;
	height: 100%;
}

.image3 {
	margin-top: 4em;
	margin-left: 4em;
	height: 70%;
}

.form {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: rgb(255, 255, 255);
	margin: 0 7%;
}

.form > form div {
	text-align: center;
}

.form > h2 {
	/* padding: 0 0 0 3em; */
	font-size: 1.2em;
	/* text-align: center; */
}

/* Form */
.floating-label {
	font-size: 1em;
	position: relative;
}

input {
	color: inherit;
	font-size: 1.25em;

	padding: 0.7rem;
	display: block;
	width: 80%;

	background-color: transparent;
	border: none;
	border-bottom: 2px solid #757575;
}
input::placeholder {
	color: transparent;
	user-select: none;
}
input:focus {
	outline: none;
	border-bottom: 2px solid rgb(56, 48, 4);
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
	top: -0.6rem;
	font-size: 0.9rem;
	color: rgb(56, 48, 4);
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 50%;
}

.floating-label label {
	color: #999;
	position: absolute;
	pointer-events: none;
	left: 0.5em;
	top: 1em;
	transition: 0.2s ease all;
}

button {
	padding: 0.7rem 1.5rem;
	text-align: center;

	font-size: inherit;
	font-weight: bold;

	height: min-content;

	outline: none;
	background: transparent;

	border: #14213d solid 2px;
	border-radius: 0.5em;

	justify-self: center;
	cursor: pointer;
	transition: 200ms ease;
}

button:hover,
button:focus {
	background-color: #00249930;
}

.enter-phone {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.hide {
	display: none;
}

h5 {
	padding-left: em;
}
