{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vocal For Local</title>
		<link rel="stylesheet" href="{% static '/css/style.css' %}" />

        <script defer="" src="{% static '/js/main.js' %}"></script>

        <script
            type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        ></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    { pageLanguage: "en" },
                    "google_translate_element"
                );
            }
        </script>
	</head>
	<body>
		<nav id="navbar">
			<div class="logo" href="#">VOCAL FOR LOCAL</div>
			<div id="google_translate_element" class="translate"></div>
		</nav>
        <div class="flex">
        <div class="first">
            
            <div class="info">
                <div class="Business">
                    <div class="sub-title">For Local Business</div>
                    <div class="tagline">List Your Local Business with us!</div>
                </div>
                <div class="Customers">
                    <div class="sub-title">For Customers</div>
                    <div class="tagline">Show your support for local businesses!</div>
                </div>
            </div>
                <img src="../static/images/img1.svg" alt="image1" class="image1">
            </div>

            <div class="second">

                <img src="../static/images/img2.svg" alt="image2" class="image2">
                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <div id="EntitySelect">
                            <input class="entity" type="radio" name = "usertype" value="business" required>
                                Business
                            </input>
                            <input class="entity" type="radio" name = "usertype" value="customer" required>
                                Customer
                            </input>
                    </div>
                    
                    <div class = "floating-label" id = "NumberWrapper">
                        <input
                        name = "number"
                        id = "Number"
                        type = "tel"
                        placeholder = "placeholder"
                        pattern="[0-9]{10}"
                        maxlength="10"
                        required
                        />
                        <label for = "Number">Contact Number</label>
                        <h5><sup>*</sup> A 4-digit OTP will be sent to your Phone Number</h5>
                    </div>
                

				    <div class = "floating-label hide" id = "OtpWrapper">
                        <input
                            name="otp"
                            id = "Otp"
                            type = "otp"
                            placeholder = "placeholder"
                            pattern="[0-9]{4}"
                            maxlength="4"
                            required
                        />
					    <label for = "Otp">OTP</label>
				    </div>

                    <div class="sub-btn">
                        <button type="submit" id="Submit">SUBMIT</button>
                    </div>

                    <div class="sub-btn hide" id="LoginDiv">
                        <button type="submit" id="Login">LOG IN</button>
                    </div>

                </form>
            <img src="../static/images/img3.svg" alt="image3" class="image3">
            </div>
        </body>
        </html>
        