{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vocal For Local</title>
		<link rel="stylesheet" href="{% static '/css/seller-register.css' %}"/>

        <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        ></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: "en" },
                "google_translate_element"
            );
        }
    </script>
	</head>
	<body>
		<nav id="navbar">
			<div class="logo" href="#">VOCAL FOR LOCAL</div>
			<div id="google_translate_element" class="translate"></div>
		</nav>

    <form action="" method="POST">
      {% csrf_token %}
      <div class="register">
        <div class="shopname">
          <label for="shopname">SHOP NAME:   </label>
          <input type="text" id="shopname" name="shopname" required>
       </div>
       <div class="owner">
        <label for="owner">OWNER NAME:   </label>
        <input type="text" id="owner" name="owner" required>
      </div>
      <div class="address">
        <label for="address">ADDRESS:</label>
        <input type="address" id="address" name="address" required>
      </div>
      <div class="timings">
        <label for="timings">TIMINGS:</label>
        <input type="text" id="timings" name="timings" required>
      </div>
      <div class="contact">
        <label for="contact">CONTACT NO:    </label>
        <input type="text" id="contact" name="contact" required>
      </div>
      <div class="category">
        <label for="category">CATEGORY:    </label>
        <input type="text" id="category" name="category" required>
      </div>
      <div class="pincode">
        <label for="pincode">PINCODE:   </label>
        <input type="text" id="pincode" name="pincode" required>
      </div>
      <div class="button">
        <Button type="submit">REGISTER</Button>
      </div>
    </form>
    <div>
      <img src="{% static '/images/Barber-amico 1.svg' %}" class="image">
    </div>

  </body>
</html>