{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vocal For Local</title>
		<link rel="stylesheet" href="{% static '/css/seller-dashboard.css' %}" />

        <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    { pageLanguage: "en" },
                    "google_translate_element"
                );
            }
        </script>
	</head>
	<body>        
		<nav id="navbar">
			<div class="logo" href="#">VOCAL FOR LOCAL</div>
			<div id="google_translate_element" class="translate"></div>
		</nav>     
        <div class="shop-info">        
            <div class="heading">
                <div class="name">{{ name }}</div>
                <div class="stars">
                    <img src="{% static 'images/star.svg' %}" alt="star" class="star">
                    <img src="{% static 'images/star.svg' %}" alt="star" class="star">
                    <img src="{% static 'images/star.svg' %}" alt="star" class="star">
                    <img src="{% static 'images/star.svg' %}" alt="star" class="star">
                    <img src="{% static 'images/star.svg' %}" alt="star" class="star">
                </div>
            </div>
            <div class="second-part">
                <div class="left-part">
                    <div class="category">{{ category }}</div>                
                    <div class="owner-name">Owned By - {{ owner }}</div>                   
                    <div class="contact">Call on : {{ phone }}</div>
                    <div class="address">
                        <div>Address :</div> 
                        <div class="address1">
                            <br><p>Sr No.65,</p>
                                <p>Hindustan Estate,</p>
                                <p>Pune,Maharashtra,</p>
                                <p>13, Lane No,</p>
                                <p>Nilanjali Society, Kalyani Nagar,</p>
                                <p>Pune, Maharashtra 411006</p>
                        </div>        
                    </div>   
                    
                    <div class="shop-timings">
                        <b>TIMINGS : </b>
                        <p>{{ time }}</p>
                    </div>
                </div>                
                <div class="right-part">
                    <div class="tags">
                        <div class="tag">Grocery</div>
                        <div class="tag">Take-away</div>
                        <div class="tag">Bakery</div>
                        <div class="tag">Bakery</div>
                        <div class="tag">Bakery</div>
                        <div class="tag">Bakery</div>
                        <div class="tag">Bakery</div>
                        <div class="tag">Bakery</div>
                        <div class="tag">Bakery</div>
                    </div>
                    <button class="add-tag"><a href="#"> ADD TAG</a></button>
                    <button class="vaccancy"><a href="#"> POST VACCANCY</a></button>                
                </div>
            </div>        
    </body>
</html>