<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vocal For Local</title>
		<link rel="stylesheet" href="../static/css/style.css" />

        <script
        type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: "en" },
                "google_translate_element"
            );
        }
    </script>
	</head>
	<body>
		<nav id="navbar">
			<div class="logo" href="#">VOCAL FOR LOCAL</div>
			<div id="google_translate_element" class="translate"></div>
		</nav>
        <div class="flex">
        <div class="first">
            <div class="info">
                <div class="Business">
                    <div class="sub-title">For Local Businessess</div>
                    <div class="tagline">List Your support for local business</div>
                </div>
                <div class="Customers">
                    <div class="sub-title">For Customers</div>
                    <div class="tagline">Show your support for local businesses</div>
                </div>
            </div>
                <img src="../static/images/img1.svg" alt="image1" class="image1">
            </div>
            <div class="second">
                <!-- <div  class="image2">SECOND IMAGE</div> -->
                <img src="../static/images/img2.svg" alt="image2" class="image2">
                <div class="form">
                    <form action="#">
                        <div>Please Enter Your Name</div>
                        <div><input type="text" placeholder="1234567890"></div>
                        <div>Third Row</div>
                        <div>Enter Four Digit OTP</div>
                        <div><input type="text" placeholder="1234"></div>
                        <div>
                            <Button><a href="#">SUBMIT<a></Button>
                            </div>
                        </form>
                    </div>
                    <img src="../static/images/img3.svg" alt="image3" class="image3">
                </div>
            </div>
        </body>
        </html>
        