<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vocal For Local</title>
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body>
		<nav id="navbar">
			<div class="logo" href="#">VOCAL FOR LOCAL</div>
			<div class="translate">translate</div>
		</nav>
        <div class="flex">
        <div class="first">
            <div class="info">
                <div class="Business">
                    <div>For Local Businessess</div>
                    <div>List Your support for local business</div>
                </div>
                <div class="Customers">
                    <div>For Customers</div>
                    <div>Show your support for local businesses</div>
                </div>
            </div>
            <div class="image1">
                FIRST IMAGE
            </div>
        </div>
        <div class="second">
            <div  class="image2">SECOND IMAGE</div>
            <div>
                <form action="#">
                    <div>Please Enter Your Name</div>
                    <div><input type="text" placeholder="1234567890"></div>
                    <div>Third Row</div>
                    <div>Enter Four Digit OTP</div>
                    <div><input type="text" placeholder="1234"></div>
                    <div>
                        <Button><a href="#">SUBMIT</Button>a></Button>
                    </div>
                </form>
            </div>
            <div class="image3">THIRD IMAGE</div>
        </div>
    </div>
	</body>
</html>
